pandas 
mlflow 
numpy 
scikit-learn
matplotlib
python-box
pyYAML
tqdm
joblib
ensure
typeguard #Checks types at runtime 
types-pyYAML
Flask
Flask-cors
-e . #to pick up setupfile automatically during installation
