pandas 
mlflow
numpy 
scikit-learn
matplotlib
python-box
pyyaml
tqdm
joblib
ensure
typeguard #Checks types at runtime 
types-pyyaml
Flask
Flask-cors
-e . #to pick up setupfile automatically during installation
